body {
  background-color: #ffebee
}

h1 {
  text-align: center;
  font-family: 'Lora', bold;
}

h3 {
  font-family: 'Rubik', serif;
}

.btn {
  margin-top: 30px;
  margin-bottom: 100px;
}

.form-control {
  width: 30%;
  margin-top: 20px;
}

.jumbotron {
  background-color: #ccb9bc;
}

#pizza-price-display {
  font-family: 'Rubik', serif;
  font-weight: 600;
  font-size: 30px;
  margin-top: 5px;
}
