/* body {
  background-color: #ffebee
} */

body, html {
  background-image: url("../img/pizza3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}


h1 {
  text-align: center;
  font-family: 'Lora', bold;
}

h3 {
  font-family: 'Rubik', serif;
  color: #ffe082;
}

label {
  color: white;
}

.btn {
  margin-top: 30px;
  margin-bottom: 100px;
}

.form-control {
  width: 30%;
  margin-top: 20px;
}

.jumbotron {
  /* background-image: url(../img/pizza1.jpg); */
  background-color: rgb(204, 185, 188, .55);
}

#pizza-price-display {
  font-family: 'Rubik', serif;
  font-weight: 600;
  font-size: 30px;
  margin-top: 5px;
  font-size: 40px;
  color: #ffb300;
}

#pizza-image {
  max-width: 200px;
  max-height: 200px;
}
